html, body, ul, li, h2, div, section, input {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

.application-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
}

.weather-icon-container {
  padding: 0 15px;
}

.weather-icon {
  max-width: 50px;
  height: auto;
}

.search-bar-container {
  display: flex;
  align-items: center;
  padding: 15px 30px 15px 50px;
  font-size: 15px;
}

.search-bar {
  padding-left: 15px;
  margin-top: 2px;
}

input {
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  width: 300px;
  height: 30px;
}

.temperature-button-container {
  display: flex;
}

.temperature-button {
  border: 1px solid #C0C0C0;
  padding: 6px 13px 6px 10px;
  background-color: #CCEBFF;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
}

.temperature-button:hover {
  background-color: #99D6FF;
}

.forecast-container {
  width: 100%;
}

.cityName {
  font-size: 20px;
  padding: 10px 0 5px 10px;
  background-color: #99D6FF;
  border-bottom: 4px solid #0099FF;
}

.forecast-info-container {
  display: flex;
  border-bottom: 2px solid #C0C0C0;
}

h2 {
  font-size: 20px;
  padding: 0 0 10px 5px;
}

.forecast-summary {
  flex: 3;
  padding: 20px;
  width: 100%;
  background-color: #CCEBFF;
}

.forecast-list {
  display: flex;
  text-align: center;
}

.forecast-list-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #0099FF;
  border-top: 2px solid #0099FF;
  border-bottom: 2px solid #0099FF;
  background-color: white;
  padding: 30px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.forecast-list-item > article {
  margin-bottom: 30px;
  font-size: 14px;
}

.forecast-list-item > article:first-child, .forecast-list-item > article:last-child {
  font-size: 16px;
  margin-bottom: 0;
}

.forecast-list-item:first-child {
  border-left: 2px solid #0099FF;
}

.forecast-list-item:hover {
  background-color: #E6F5FF;
  cursor: pointer;
  transition: 0.3s;
}

.forecast-image {
  margin: 20px 0;
}

.forecast-list-item-img {
  min-height: 80px;
}


/* forecast detail component */
.forecast-detail {
  flex: 1;
  text-align: center;
  background-color: white;
  padding: 30px;
}

.forecast-detail-date {
  font-size: 20px;
  padding-bottom: 15px;
}

.forecast-detail-date > article, .forecast-detail-left-panel > article {
  padding-bottom: 10px;
}

.forecast-detail-panel-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  justify-content: space-between;
}

.forecast-detail-left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding-right: 30px;
}

.forecast-detail-left-panel > article:last-child {
  padding-bottom: 0;
}

.forecast-detail-img {
  min-height: 100px;
}

.forecast-detail-right-panel {
  margin-top: 30px;
  font-size: 14px;
  text-align: left;
}

.forecast-detail-right-panel > ul > li {
  padding-bottom: 15px;
}

.forecast-detail-right-panel > ul > li:last-child {
  padding: 0;
}
